<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="ProjectDbConnection"
             connectionString="Server=localhost; Database=ProjectADb26; Integrated Security=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>